html, body{
    margin: 0px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}

.template._LM_{
    display: none;
}
/*main three areas divider*/
    .body._LM_{
        position: relative;
        border-width: 1px;
        box-shadow: 0px 12px 26px 4px black;
        
        margin-top:18px;
        margin-left:30px;
        width:680px;
        /*transition: height 0.5s;*/
        height:60px;
    }
    .body.expanded._LM_{
        /*transition: height 0.5s;*/
        height: 420px;
    }
    .searchbar._LM_{
        width: 100%;
        height: 60px;
    }
    .results._LM_{
        position: relative;
        width: 100%;
        border-top-width: 1px;
        overflow: hidden;
        height: 0px;
        height: calc(100% - 60px);
        box-sizing: content-box;
    }
    
    .preview._LM_,
    .selector._LM_{
        position:absolute;
        bottom: 1px;
        height: 357px;
        width: 270px;
        transition: width 0.5s;
        overflow: hidden;
    }
    .preview._LM_{
        right:0px;
        border-left-width: 1px;
        width: calc(100% - 270px);
        box-sizing: border-box;
    }
    /*when the menu hides*/
        .menu.hidden._LM_{
            width: 0px;
            transition: width 0.5s;
        }
        .menu.hidden+.preview._LM_{
            width: 100%;
            transition: width 0.5s;
        }
    
    .specificPreviewData{
        overflow: hidden;
    }

/*searchbar*/
    /*.icon._LM_:before{*/
    /*    line-height: 60px;*/
    /*}*/
    /*.icon._LM_{*/
    /*    float: left;*/
    /*    font-size: 40px;*/
    /*    text-align: center;*/
    /*    width: 60px;*/
    /*    height: 60px;*/
    /*}*/
    /*.searchInput._LM_{*/
    /*    float: left;*/
    /*    position:relative;*/
    /*    width: calc(100% - 120px);*/
    /*    height: 100%;*/
    /*}*/
    /*.placeHolder._LM_{*/
    /*    padding-left:10px;*/
    /*    font-size: 30px;*/
    /*    position:absolute;*/
    /*    left:0;*/
    /*    right:0;*/
    /*    line-height: 60px;*/
    /*    width:100%;*/
    /*    height:100%;*/
    /*}*/
    /*.input._LM_{*/
    /*    padding-left:10px;*/
    /*    font-size: 30px;*/
    /*    position:relative;*/
    /*    border:none;*/
    /*    outline:none;*/
    /*    background:none;*/
    /*    width:100%;*/
    /*    height:100%;*/
    /*}*/
    
/*files*/
    /*.files._LM_{*/
    /*    position: absolute;*/
    /*    right: 0px;*/
    /*    width: 270px;*/
    /*    height: 100%;*/
    /*}*/
    /*.matches._LM_{*/
    /*    height: 100%;*/
    /*}*/
    
    /*.file._LM_{*/
    /*    min-height: 40px;*/
    /*    border-bottom: 1px solid #CCC;*/
    /*}*/
    /*.file.selected._LM_{*/
    /*    background-color: #EEE;*/
    /*}*/
    /*.file .fileIcon._LM_{*/
    /*    box-sizing: border-box;*/
    /*    float: left;*/
    /*    width: 40px;*/
    /*    height: 40px;*/
    /*    padding: 3px;*/
    /*}*/
    /*.file .fileIcon img._LM_{*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*}*/
    /*.file .fileData._LM_{*/
    /*    float: left;*/
    /*    width: calc(100% - 40px);*/
    /*}*/
    /*.file .fileData .fileName._LM_{*/
    /*    word-wrap: break-word;*/
    /*    padding: 5px;*/
    /*    padding-bottom: 0px;*/
    /*}*/
    /*.file .fileData .fileName span._LM_{*/
    /*    background-color: #6be1ff;*/
    /*    border-radius: 2px;*/
    /*}*/
    /*.file .fileData .filePath._LM_{*/
    /*    word-break: break-word;*/
    /*    padding-right: 5px;*/
    /*    color: #AAA;*/
    /*    font-size: 12px;*/
    /*    text-align: right;*/
    /*}*/
    
    /*.rootPath._LM_{*/
    /*    word-break: break-word;*/
    /*    background-color: #F3F3F3;*/
    /*    color: #AAA;*/
    /*    font-size: 12px;*/
    /*    border-bottom: 1px solid #CCC;*/
    /*}*/
    /*.regexErrorMessage._LM_,*/
    /*.noFileMessage._LM_{*/
    /*    position:absolute;*/
    /*    left: 0px;*/
    /*    top: 0px;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    text-align: center;*/
    /*    vertical-align: center;*/
    /*    display: table;*/
    /*    color: #444;*/
    /*}*/
    /*.regexErrorMessage span._LM_,*/
    /*.noFileMessage span._LM_{*/
    /*    display: table-cell;*/
    /*    vertical-align: middle;*/
    /*}*/
    /*.regexError._LM_{*/
    /*    color: red;*/
    /*}*/
/*preview*/
    .specificPreviewData>div._LM_{
        display: none;
        height: 100%;
        width: 100%;
    }
    .specificPreviewData._LM_{
        height: calc(100% - 90px);
        width: 100%;
    }
    .generalPreviewData._LM_{
        height: 90px;
        width: 100%;
        padding: 20px;
        padding-top: 0px;
    }
    .preview.full .specificPreviewData._LM_{
        height: 100%;
    }
    .preview.full .generalPreviewData._LM_{
        display: none;
    }
    .generalDataInner._LM_{
        font-size: 12px;
        border-top-width: 1px;
        padding-top:8px;
        width: 100%;
        height: calc(100% - 20px);
    }
    
    /*general data*/
    .generalDataInner .dataLabel._LM_{
        display: inline-block;
        vertical-align: middle;
    }
    .generalDataInner .dataValue._LM_{
        text-align: right;
        display: inline-block;
        max-width: 105px;
        word-break: keep-all;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        float: right;
        padding-left: 5px;
    }
    .generalDataInner .dataValue._LM_:empty{
        width: 80px;
    }
    .generalDataInner .left._LM_,.generalDataInner .right._LM_{
        float: left;
        max-widtH: calc(50% - 2px);
        display:inline-block;
    }
    .generalDataInner .right._LM_{
        float: right;
    }
    .generalDataInner .path._LM_{
        padding-top: 8px;
        text-align: center;
    }
    /*txt previw*/