html, body{
    margin: 0px;
}

.template{
    display: none;
}
/*main three areas divider*/
    .body{
        background-color: white;
        border: 1px solid #CCC;
        box-shadow: 0px 12px 26px 4px black;
        
        margin-top:18px;
        margin-left:30px;
        width:680px;
        transition-duration: 0.5s;
        height:60px;
    }
    .body.expanded{
        transition-duration: 0.5s;
        height: 420px;
    }
    .searchBar{
        width: 100%;
        height: 60px;
    }
    .results{
        position: relative;
        width: 100%;
        border-top: 1px solid #CCC;
        overflow: hidden;
        height: 0px;
        height: calc(100% - 60px);
    }
    .preview,
    .files{
        position:absolute;
        height: 360px;
        bottom:0px;
        width: 270px;
    }
    .preview{
        right:0px;
        border-left: 1px solid #CCC;
        width: calc(100% - 270px);
        box-sizing: border-box;
    }

/*searchbar*/
    .searchBar{
        color: #999;
    }
    .icon:before{
        line-height: 60px;
    }
    .icon{
        float: left;
        font-size: 40px;
        text-align: center;
        width: 60px;
        height: 60px;
    }
    .searchInput{
        float: left;
        position:relative;
        width: calc(100% - 120px);
        height: 100%;
    }
    .placeHolder{
        padding-left:10px;
        font-size: 30px;
        position:absolute;
        left:0;
        right:0;
        line-height: 60px;
        width:100%;
        height:100%;
    }
    .input{
        padding-left:10px;
        font-size: 30px;
        position:relative;
        border:none;
        outline:none;
        background:none;
        width:100%;
        height:100%;
    }
    
/*files*/
    .matches{
        height: 100%;
    }
    
    .file{
        min-height: 40px;
        border-bottom: 1px solid #CCC;
    }
    .file.selected{
        background-color: #EEE;
    }
    .file .fileIcon{
        box-sizing: border-box;
        float: left;
        width: 40px;
        height: 40px;
        padding: 3px;
    }
    .file .fileIcon img{
        width: 100%;
        height: 100%;
    }
    .file .fileData{
        float: left;
        width: calc(100% - 40px);
    }
    .file .fileData .fileName{
        word-wrap: break-word;
        padding: 5px;
        padding-bottom: 0px;
    }
    .file .fileData .fileName span{
        background-color: #6be1ff;
        border-radius: 2px;
    }
    .file .fileData .filePath{
        word-break: break-word;
        padding-right: 5px;
        color: #AAA;
        font-size: 12px;
        text-align: right;
    }
    
    .rootPath{
        word-break: break-word;
        background-color: #F3F3F3;
        color: #AAA;
        font-size: 12px;
        border-bottom: 1px solid #CCC;
    }
    .noFileMessage{
        position:absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 360px;
        color: #444;
    }
    
/*preview*/
    .preview>div{
        display: none;
        height: 100%;
        width: 100%;
    }
    .specificPreviewData>div{
        display: none;
        height: 100%;
        width: 100%;
    }
    .specificPreviewData{
        height: calc(100% - 90px);
        width: 100%;
    }
    .generalPreviewData{
        height: 90px;
        width: 100%;
        padding: 20px;
        padding-top: 0px;
    }
    .generalDataInner{
        font-size: 12px;
        border-top: 1px solid #CCC;
        width: calc(100% - 40px);
        height: calc(100% - 20px);
    }
    /*general data*/
    .generalDataInner .left{
        float: left;
        widtH: 50%;
    }
    .generalDataInner .left .path{
        word-break: break-all;
    }
    .generalDataInner .right{
        float: right;
        widtH: 50%;
    }
    .generalDataInner .right div{
        text-align: right;
    }
    .generalDataInner .right .dateCreated:before{
        content: "Date Created:  ";
    }
    .generalDataInner .right .dateModified:before{
        content: "Date Modified: ";
    }
    .generalDataInner .right .dateAccessed:before{
        content: "Date Accessed: ";
    }
    /*txt previw*/