html, body{
    margin: 0px;
}

.lm.template{
    display: none;
}
/*main three areas divider*/
    .lm.body{
        background-color: white;
        border: 1px solid #CCC;
        box-shadow: 0px 12px 26px 4px black;
        
        margin-top:18px;
        margin-left:30px;
        width:680px;
        transition-duration: 0.5s;
        height:60px;
    }
    .lm.body.expanded{
        transition-duration: 0.5s;
        height: 420px;
    }
    .lm.searchBar{
        width: 100%;
        height: 60px;
    }
    .lm.results{
        position: relative;
        width: 100%;
        border-top: 1px solid #CCC;
        overflow: hidden;
        height: 0px;
        height: calc(100% - 60px);
    }
    .lm.preview,
    .lm.files{
        position:absolute;
        height: 360px;
        bottom:0px;
        width: 270px;
    }
    .lm.preview{
        right:0px;
        border-left: 1px solid #CCC;
        width: calc(100% - 270px);
        box-sizing: border-box;
    }

/*searchbar*/
    .lm.searchBar{
        color: #999;
    }
    .lm.icon:before{
        line-height: 60px;
    }
    .lm.icon{
        float: left;
        font-size: 40px;
        text-align: center;
        width: 60px;
        height: 60px;
    }
    .lm.searchInput{
        float: left;
        position:relative;
        width: calc(100% - 120px);
        height: 100%;
    }
    .lm.placeHolder{
        padding-left:10px;
        font-size: 30px;
        position:absolute;
        left:0;
        right:0;
        line-height: 60px;
        width:100%;
        height:100%;
    }
    .lm.input{
        padding-left:10px;
        font-size: 30px;
        position:relative;
        border:none;
        outline:none;
        background:none;
        width:100%;
        height:100%;
    }
    
/*files*/
    .lm.matches{
        height: 100%;
    }
    
    .lm.file{
        min-height: 40px;
        border-bottom: 1px solid #CCC;
    }
    .lm.file.selected{
        background-color: #EEE;
    }
    .file .lm.fileIcon{
        box-sizing: border-box;
        float: left;
        width: 40px;
        height: 40px;
        padding: 3px;
    }
    .file .lm.fileIcon img{
        width: 100%;
        height: 100%;
    }
    .file .lm.fileData{
        float: left;
        width: calc(100% - 40px);
    }
    .file .fileData .lm.fileName{
        word-wrap: break-word;
        padding: 5px;
        padding-bottom: 0px;
    }
    .file .fileData .fileName span.lm{
        background-color: #6be1ff;
        border-radius: 2px;
    }
    .file .fileData .lm.filePath{
        word-break: break-word;
        padding-right: 5px;
        color: #AAA;
        font-size: 12px;
        text-align: right;
    }
    
    .lm.rootPath{
        word-break: break-word;
        background-color: #F3F3F3;
        color: #AAA;
        font-size: 12px;
        border-bottom: 1px solid #CCC;
    }
    .lm.regexErrorMessage,
    .lm.noFileMessage{
        position:absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: center;
        display: table;
        color: #444;
    }
    .regexErrorMessage span.lm,
    .noFileMessage span.lm{
        display: table-cell;
        vertical-align: middle;
    }
    .lm.regexError{
        color: red;
    }
/*preview*/
    .specificPreviewData>div.lm{
        display: none;
        height: 100%;
        width: 100%;
    }
    .lm.specificPreviewData{
        height: calc(100% - 90px);
        width: 100%;
    }
    .lm.generalPreviewData{
        height: 90px;
        width: 100%;
        padding: 20px;
        padding-top: 0px;
    }
    .preview.full .lm.specificPreviewData{
        height: 100%;
    }
    .preview.full .lm.generalPreviewData{
        display: none;
    }
    .lm.generalDataInner{
        font-size: 12px;
        border-top: 1px solid #CCC;
        padding-top:8px;
        width: calc(100% - 40px);
        height: calc(100% - 20px);
    }
    /*general data*/
    .generalDataInner .lm.dataLabel{
        text-align:left;
        display: inline-block;
        width: 70px;
    }
    .generalDataInner .lm.dataValue{
        display: inline-block;
    }
    .generalDataInner .lm.left{
        float: left;
        widtH: 50%;
    }
    .generalDataInner .lm.right{
        float: right;
        widtH: 50%;
    }
    .generalDataInner .lm.right{
        text-align: right;
    }
    .generalDataInner .right .lm.dataValue{
        width: 90px;
    }
    .generalDataInner .lm.path{
        padding-top: 8px;
        text-align: center;
    }
    /*txt previw*/